h2, p{
  text-align: center;
}
/* 
table, th, td {
  border-style:double;
  width:90%;
} */

table {
  border: 1px solid;
  width:90%;
  text-align:left;
  margin-left:5%;
}
th, td {
  border: 1px solid #000;
  padding: 0.5em 1em;
}