<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CBSE-Site</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
<servlet>
<servlet-name>admission</servlet-name>
<servlet-class>com.cbse.Admission</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>admission</servlet-name>
<url-pattern>/admission</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>admin1</servlet-name>
<servlet-class>com.cbse.Admin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>admin1</servlet-name>
<url-pattern>/admin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>info</servlet-name>
<servlet-class>com.cbse.StudentInfo</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>info</servlet-name>
<url-pattern>/info</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>result</servlet-name>
<servlet-class>com.cbse.StudentResult</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>result</servlet-name>
<url-pattern>/result</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>view-result</servlet-name>
<servlet-class>com.cbse.ViewResult</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>view-result</servlet-name>
<url-pattern>/view-result</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>report-card</servlet-name>
<servlet-class>com.cbse.ReportCard</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>report-card</servlet-name>
<url-pattern>/report</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>upload1</servlet-name>
<servlet-class>com.cbse.Library</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>upload1</servlet-name>
<url-pattern>/upload</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>download1</servlet-name>
<servlet-class>com.cbse.ShowDownloadDoc</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>download1</servlet-name>
<url-pattern>/download</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>docs1</servlet-name>
<servlet-class>com.cbse.DownloadDoc</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>docs1</servlet-name>
<url-pattern>/docs</url-pattern>
</servlet-mapping>

</web-app>